/* 초기화 */
html{
    font-size: 14px;
}
html,body,body *{
    margin: 0;
    padding: 0;
}
body{
    height: 300vh;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
/* 초기화 끝 */
/* 루트값 */
:root {
    --header-height : 125px;
    --header-height-m : 80px;
    --line-banner-height: 45px;
    --line-banner-height-m: 30px;
    --height-without-line-banner-header-m: 50px;
    --height-without-line-banner: calc(100% - 45px);
    --height-without-line-banner-m: calc(100% - 30px);
    --responsive-table-width: 840px;
    --em-font-color: #352B27;
}
/* 헤더 통틀어서 */
#header {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height)
}

/* 헤더 윗쪽 부분 */
.header-top {
    height: 45px;
    position: relative;
    color: white;
}
.swiper-button-next,.swiper-button-prev{
    color : white;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: black;
display: flex;
justify-content: center;
align-items: center;
}
.swiper {
margin-left: auto;
margin-right: auto;
}

/* 헤더 아랫부분 */
.header-bottom{
    padding: 0 60px;
    position: relative;
    height: 80px;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftbx, .rightbx {
    flex-basis: 50%;
}
.rightbx{
    justify-content: flex-end;
}
/* CARIN */
/* .carin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.leftbx>ul>li , .rightbx>ul>li {
    margin-right: 20px;
}
.header-bottom .leftbx > ul {
    display: flex;
}
.rightbx { 
    display: flex;
}
.header-bottom .rightbx > ul {
    display: flex;
}
.has-child {
    position: relative;
}
.has-child > a {
    line-height: 80px;
}
/* 서브메뉴 */
.sub-nav{
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.sub-nav.on{
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transition: .3s;
}
.sub-nav li{
    line-height: 1.7;
}

.rightbx ul:nth-child(2) li > a{
    line-height: 80px;
}
/* 네브 오버시 나오는 흰색창 */
.whiteback{
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 190px;
    background-color: skyblue;
    transition: .3s;
    opacity: 0;
}

/* 모바일 셋팅 */
.mobile { 
    display: none;
}
.sub-nav-mobile { 
    display: none;
}
#aside {
    position: fixed;
    top: var(--header-height-m);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: bisque;
}
.aside {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.aside-wrap {
    height: 100%;
}
.aside-bottom{
    margin-bottom: 40px;
    margin-top: auto;
}
.aside-top ul > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.aside-top ul > li > a{
    display: block;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}
.aside-middle ul > li > a{
    display: block;
    padding: 7px 15px;
}
.aside-middle > ul {
    margin-top: 20px;
}
.aside-bottom ul > li > a {
    display: block;
    padding: 10px 15px;
}
#aside {
    /* display: none; */
}
/* 1080부터 미디어쿼리 */
/* 헤더 높이 80  */
@media screen and (max-width : 1080px) {
    #header {
        height: var(--header-height-m);
    }
    .header-top { 
        height: 30px;
    }
    .header-bottom {
        height: 50px;
    }
    .desktop { 
        display: none;
    }
    .sub-nav{
        display: none;
    }
    .whiteback { 
        display: none;
    }
    .mobile {
        display: flex;
    }
}

/* 스크롤바 지우려면 overflow - hidden 대신 스크롤width만큼 살짝이동함  */