/* 초기화 */
html{
  font-size: 10px;
}

body, h3, h4, p, ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

a{
  color: black;
  text-decoration: none;
}

/* root */
:root{
    /* COLOR */
  --black: #000000;
  --white: #ffffff;
  --lightgray: #cccccc;
  --gray: #656565;
  --darkgray: #333333;
  --menufont: #669900;
  --menubg:#2c2a29;
  --beige:#f6f5ef;
  --darkgreen:#1e3932;
  --green:#00704a;
  /* FONTSIZE */
  --font-size-S: 1.2rem;
}

/* CSS */
body{
  height: 200vh;
}

header{
  background-color: var(--beige);
  height: 120px;
  width: 100%;
  position: fixed;
}

.inner{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.inner .logo{
  width: 50px;
  height: 50px;
  background-color: var(--green);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.inner .sub-menu{
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sub-menu ul{
  display: flex;
  align-items: center;
}

.sub-menu ul li{
  color: var(--gray);
}

.sub-menu ul li::after{
  content: '|';
  width: 1px;
  height: 100%;
  color: var(--lightgray);
  margin: 0 5px;
  font-size: var(--font-size-S);
}

.sub-menu ul li:last-child::after{
  display: none;
}

.sub-menu .search{
  position: relative;
}

.sub-menu input{
  width: 18px;
  height: 18px;
}

.sub-menu input:focus{
  width: 200px;
}

.sub-menu i{
  height: var(--font-size-S);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  margin: auto;
  transition: .4s;
}

/* 메인메뉴 */
.main-menu{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.main-menu h3{
  padding: 20px;
} 

.main-menu li:hover h3{
  background-color: var(--menubg);
  color: var(--menufont);
}

.menu-list_wrap{
  max-width: 1200px;
  margin: 0 auto;
}

.menu-list{
  position: fixed;
  /* display: none; */
  left: 0;
  width: 100%;
}